<div class="customerOrders view">
    <div class="container">
        <header>
            <h3>Your Rentals</h3>
            <p class="hint">This is the landing page after logging in. It displays a tile for each property the user has registered</p>
        </header>
        
        <div>
            <div class="row rentalsRow" >
                <button class="btn btn-block-skinny col-sm-3" type="button" data-ng-click="addDummyContract()"><i class="fa"></i>Add New Rental</button>
                <div class="col-sm-9 hint">Selecting this should load the property creation page. <br />For this demo a dummy property is added to the user.</div> 
                </div>
                <div class="row rentalsRow" data-ng-repeat="contract in contracts">
                    <div>

                        <div data-ng-include src="'dash/rental.html'"></div>


                        <!--<div class="indent">
                    <h4>Orders for { { customer.firstName + ' ' + customer.lastName } }</h4>
                    { {customer.address} }
                    <br />
                    { {customer.city} }
                    <br /><br />
                </div>-->
                    </div>
                    <br /><br />
                </div>
            </div>
    </div>
</div>
